JAVA_OPTS=-Xms256m -Xmx512m

MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_PASSWORD=
REDIS_PASSWORD=

DIFYAPP_API_KEY=
DIFYAPP_DATASET_API_KEY=
DIFYAPP_DATASET_ID=

QQ_BOT_ENABLE=true
QQ_BOT_ACCESS_TOKEN=
QQ_BOT_SELF_ID=
QQ_BOT_HTTP_BASE_URL=
; 最新版测试下来出现问题，本系统使用这个版本即可
NAPCAT_IMAGE=mlikiowa/napcat-docker:4.17.16


WECHAT_CORP_STOKEN=
WECHAT_CORP_S_ENCODING_AES_KEY=
WECHAT_CORP_BOT_ID=
WECHAT_CORP_SECRET=
